.container {
    background-image: radial-gradient(circle, var(--Blue-200), var(--Blue-500));
}

.divForm {
    width: 30%;
    border-radius: 8px;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Greyser);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
    
.form {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.greetingForm {
    margin: 0;
    text-align: center;
    font-family: var(--font-primary);
    color: var(--Mineral-green);
}
    
.greetingComplement {
    margin: 5%;
    text-align: center;
    font-family: var(--font-secondary);
    color: var(--Outer-space);
}

.input {
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 5px;
    padding: 0;
}
    
a {
    text-decoration: underline;
    font-family: var(--font-secondary);
    color: var(--Mineral-green);
}

.wrongCredentials {
    color: var(--Blue-500);
}

:root {
    --md-outlined-text-field-container-shape: 0px;
    --md-sys-typescale-body-large: 400 1rem system-ui;
    --md-sys-color-primary: var(--Mineral-green);
    --md-outlined-text-field-label-text-color: var(--Mineral-green);
    --md-outlined-text-field-input-text-color: var(--Green-spring);

    --md-filled-tonal-button-container-shape: 0px;
    --md-filled-tonal-button-label-text-font: system-ui;
    --md-sys-color-secondary-container: var(--Outer-space);
    --md-sys-color-on-secondary-container: var(--Greyser);
}
