.container {
    padding-left: 15%;
    padding-right: 15%;
}

.settCont {
    width: 100%;
    padding: 4% 24% 8% 24%;
}

.settTitle {
    padding-left: 1%;
    margin-bottom: 4%;
}

.settTitle div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settTitle div img {
    height: 30px;
    margin-right: 1%;
}

.settTitle div h3 {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-family: var(--font-primary);
    color: var(--Outer-space);
    font-size: var(--font-size-md);
}

.leftCont {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 4%;
}

.imgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.settTitle, .imgCont {
    background-color: var(--Greyser);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.settTitle:hover, .imgCont:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardContainer {
    text-align: start;
}

:root {
    --md-filled-tonal-button-container-shape: 0px;
    --md-filled-tonal-button-label-text-font: var(--font-primary);
    --md-sys-color-secondary-container: var(--Greyser);
    --md-sys-color-on-secondary-container: var(--Outer-space);

    --md-list-container-color: var(--Greyser);
    --md-list-item-label-text-color: var(--Outer-space);
    --md-list-item-supporting-text-color: var(--Mineral-green);
    --md-list-item-label-text-font: var(--font-primary);
    --md-list-item-supporting-text-font: var(--font-secondary);
}

.input {
    padding: 1%;
    border-radius: 5px;
    height: 75px;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.rightCont {
    flex: 2;
}

.contacts {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.settBody {
    display: flex;
    width: 100%;
}
