.container {
    padding: 10%;
    padding-top: 2%;
    padding-bottom: 4%;
    display: flex;
}

.fondo {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: var(--font-primary);
    color: white;
}

h2 {
    font-size: var(--font-size-lg);
    font-family: var(--font-secondary);
    color: white;
}

.con {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0.4px 8px 0 rgba(0,0,0,0.06);
    transition: 0.3s;
    padding: 2%;
}

.sep { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
}

.peque {
    margin: 0;
    font-size: var(--font-size-md);
    font-family: var(--font-secondary);
    color: var(--Mineral-green);
}

.sign{
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin: 10px 0 10px 0;
    font-family: var(--font-primary);
    color: var(--Outer-space);
}

.graf {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0.4px 8px 0 rgba(0, 0, 0, 0.06);
    transition: 0.3s;
    padding: 3%;
    height: 100%;
    margin-top: 2.5%;
}

.Tex_img {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 10px 0;
}

.iconos{
    height: 100%;
    width: auto;
}
