:root {
    /*Colors*/
    --Blue-100: #B0B8CF;
    --Blue-200: #4D638C;
    --Blue-300: #154B5C;
    --Blue-400: #113593;
    --Blue-500: #001D47;
    --Outer-space: #1B2727;
    --Mineral-green: #3c5148;
    --Asparagus: #6B8E4E;
    --Green-spring: #B2C5B2;
    --Greyser: #D5DDDF;
    --Forest: #4D4738;
    --Olive: #BAB9A7;
    --Aloe: #755F4A;
    --Sand: #C0AE94;
    /*Fonts*/
    --font-primary: "Quicksand", serif;
    --font-secondary: "Roboto", serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-size-sm: 14px;
    --font-size-md: 18px;
    --font-size-lg: 24px;
    --font-size-xl: 50px;
}

html {
    scroll-behavior: smooth;
}


.messages {
    list-style: none;
    padding: 10px;
}

.messages li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.success {
    background-color: var(--Greyser);
    color: var(--Mineral-green);
    border-left: 5px solid var(--Asparagus);
}

.error {
    background-color: var(--Greyser);
    color: #721c24;
    border-left: 5px solid #dc3545;
}

.info {
    background-color: var(--Greyser);
    color: var(--Blue-500);
    border-left: 5px solid var(--Blue-200);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.container {
    padding: 0;
    background-image: radial-gradient(circle, var(--Blue-200), var(--Blue-500));
}
