{% extends 'header.html' %}

{% block title %}
    VitaSphere
{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}
<div class="home">
    <section class="welcome">
        <div>
            <h1>Monitoreo de Salud en Tiempo Real para su Tranquilidad</h1>
            <p>VitaSphere te mantiene conectado con la  salud de tu ser querido, en cualquier momento y en cualquier lugar.</p>
        </div>    
        <img src="{% static 'images/brand/uso-dispositivo.png' %}" alt="Uso del dispositivo">
    </section>
    <section class="about" id="about">
        <h2>Sobre VitaSphere</h2>
        <div>
            <p>VitaSphere es un sistema de monitoreo de salud diseñado para brindar tranquilidad tanto a los usuarios como a sus cuidadores. Nuestra tecnología avanzada rastrea los signos vitales en tiempo real, lo que garantiza respuestas rápidas a cualquier problema de salud.</p>
            <ul>
                <li>Gestión segura y privada de datos</li>
                <li>Monitoreo preciso de signos vitales en tiempo real</li>
                <li>Alertas instantáneas para situaciones de emergencia</li>
            </ul>
        </div>
    </section>
    <div class="features" id="features">
        <h2>Características Principales</h2>
        <div class="featuresContainer">
            <div class="card">
                <div>
                    <img src="{% static 'images/features/heart.png' %}" alt="Icono corazón">
                    <h4>Seguimiento de signos vitales en tiempo real</h4>
                    <p>Revise pulso, nivel de oxígeno y temperatura con precisión y facilidad.</p>
                </div>
            </div>
            <div class="card">
                <div>
                    <img src="{% static 'images/features/notifications.png' %}" alt="Icono notificaciones">
                    <h4>Alertas de emergencia automáticas</h4>
                    <p>Reciba notificaciones instantáneas cuando los signos vitales indiquen posibles problemas de salud.</p>
                </div>
            </div>
            <div class="card">
                <div>
                    <img src="{% static 'images/features/mobile.png' %}" alt="Icono celular">
                    <h4>Integración de aplicaciones móviles</h4>
                    <p>Acceda a los datos de salud y alertas desde cualquier lugar mediante la app móvil.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="call" id="call">
        <h1>¿Listo para experimentar la tranquilidad?</h1>
        <p>Únete hoy a VitaSphere y toma el control de tu salud!</p>
        <md-filled-tonal-button
            type="button"
            class="redirect"
            id="button"
            name="button"
            href="/register">                
            Unirse Ahora
        </md-filled-tonal-button>
    </div>
</div>
{% endblock %}
