{% extends 'header.html' %}

{% block title %}
    Inicio de sesión
{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/form.css' %}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const togglePassButton = document.getElementById("togglePass");
            const passwordInput = document.getElementById("password");
            const eyeIcon = togglePassButton.querySelector('img');
            const toggleText = togglePassButton.querySelector('p');

            togglePassButton.addEventListener("click", function() {
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    eyeIcon.src = "{% static 'images/visibility_off.png' %}";
                    toggleText.textContent = "Ocultar contraseña";
                } else {
                    passwordInput.type = "password";
                    eyeIcon.src = "{% static 'images/visibility.png' %}";
                    toggleText.textContent = "Mostrar contraseña";
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="divForm">
    <h1 class="greetingForm">Bienvenido de nuevo!</h1>
    <h3 class="greetingComplement">Inicie sesión para acceder a su cuenta</h3>
    <form class="form" action="/login/" method="post">
        {% csrf_token %}

        <md-outlined-text-field
            type="email"
            class="input"
            id="email"
            name="email"
            label="Correo electrónico"
            placeholder="Ingresa tu correo electrónico"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
            required
            error-text="Por favor, ingrese su correo electrónico">
        </md-outlined-text-field>

        <md-outlined-text-field
            type="password"
            class="input"
            id="password"
            name="password"
            label="Contraseña"
            placeholder="Ingresa tu contraseña"
            required
            error-text="Por favor, ingrese su contraseña"
            style="margin-bottom: 0;">
        </md-outlined-text-field>

        <button type="button" id="togglePass" class="togglePass">
            <img src="{% static 'images/visibility.png' %}" alt="Visibilidad">
            <p>Mostrar contraseña</p>
        </button>

        <md-filled-tonal-button
            type="submit"
            class="input"
            id="submitbtn"
            name="submit">                
            Iniciar sesión
        </md-filled-tonal-button>
        
    </form>
    {% if error %}
        <p class="wrongCredentials">{{error}}</p>
    {% endif %}
    <!--  <a href="/login">¿Olvidaste tu contraseña?</a> -->
    <a href="/register">¿No tienes una cuenta aún?</a>
</div>
{% endblock %}
