{% extends 'header.html' %}

{% block title %}
    Perfil
{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profCont">
    <div class="profTitle">
        <div class="cardContainer">
            <img src="{% static 'images/person.png' %}" alt="Icono de Persona">
            <h3>Profile</h3>
        </div>
    </div>
    <div class="profImg">
        <img src="{% static 'images/profile.png' %}" alt="Icono de Cuenta">
        <div class="cardContainer">
            <h1>{fname}</h1>
            <p>{uname}</p>
        </div>
    </div>
    <div class="card">
        <div class="cardContainer">
            <p>Nombre(s)</p>
            <h4>{fname}</h4>
            <p>Apellido(s)</p>
            <h4>{lname}</h4>
        </div>
    </div>
    <div class="card">
        <div class="cardContainer">
            <p>Fecha de nacimiento</p>
            <h4>{dd/mm/aa}</h4>
            <p>Sexo</p>
            <h4>{sex}</h4>
        </div>
    </div>
    <div class="card">
        <div class="cardContainer">
            <p>Correo electrónico</p>
            <h4>{email}</h4>
            <p>Número de teléfono</p>
            <h4>{phone}</h4>
        </div>
    </div>
    <div class="actCont">
        <md-filled-tonal-button
            type="button"
            class="input"
            id="editbtn"
            name="button">
            Editar Perfil
        </md-filled-tonal-button>   
        <md-filled-tonal-button
            type="button"
            class="input"
            id="deletebtn"
            name="button">
            Eliminar Cuenta
        </md-filled-tonal-button>
    </div>
</div>
{% endblock %}
