{% extends 'header.html' %}

{% block title %}Perfil{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const editButton = document.getElementById("editbtn");
            const saveButton = document.getElementById("savebtn");
            const deleteButton = document.getElementById("deletebtn");
            const inputs = document.querySelectorAll(".input");
            const selectSex = document.getElementById("sex");
            const togglePassButton = document.getElementById("togglePass");
            const passwordInput = document.getElementById("password");
            const confirmPasswordInput = document.getElementById("conf_pass");
    
            selectSex.value = '{{ request.session.sexo }}';
    
            editButton.addEventListener("click", function() {
                inputs.forEach(input => {
                    input.removeAttribute("readOnly");
                });
                togglePassButton.removeAttribute("disabled");
                sex.disabled = false;
            });
    
            togglePassButton.addEventListener("click", function() {
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    confirmPasswordInput.type = "text";
                } else {
                    passwordInput.type = "password";
                    confirmPasswordInput.type = "password";
                }
            });

            saveButton.addEventListener("click", function() {
                document.getElementById("profileForm").submit();
            });

            deleteButton.addEventListener("click", function() {
                if (confirm("¿Estás seguro de que deseas eliminar tu cuenta? Esta acción no se puede deshacer.")) {
                    fetch("{% url 'delete_account' %}", {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}",
                            "Content-Type": "application/json"
                        },
                        credentials: "same-origin"
                    })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = "/";
                        } else {
                            console.error("Error en la respuesta del servidor");
                        }
                    })
                    .catch(error => {
                        console.error("Error en la solicitud fetch:", error);
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <form id="profileForm" class="profCont" method="POST" action="{% url 'update_profile' %}">
        <div class="profTitle">
            <div class="cardContainer">
                <img src="{% static 'images/person.png' %}" alt="Icono de Persona">
                <h3>Profile</h3>
            </div>
        </div>
        
        {% csrf_token %}
        
        <div class="profImg">
            <img src="{% static 'images/profile.png' %}" alt="Icono de Cuenta">
            <div class="cardContainer">
                <h1>Nombre(s)</h1>
                <md-outlined-text-field
                    type="text"
                    class="input"
                    id="fname"
                    name="fname"
                    value="{{request.session.nombre}}"
                    placeholder="Ingrese su nombre"
                    readOnly=true
                ></md-outlined-text-field>
                <p>Apellido(s)</p>
                <md-outlined-text-field
                    type="text"
                    class="input"
                    id="lname"
                    name="lname"
                    value="{{request.session.apellidos}}"
                    readOnly=true
                    placeholder="Ingrese sus apellidos"
                ></md-outlined-text-field>
            </div>
        </div>

        <div class="card">
            <div class="cardContainer">
                <p>Fecha de nacimiento</p>
                <md-outlined-text-field
                    type="date"
                    class="input"
                    id="birthday"
                    name="birthday"
                    value="{{request.session.fecha_nacimiento}}"
                    readOnly=true
                    placeholder="Ingrese su fecha de nacimiento"
                    error-text="Por favor, ingrese su fecha de nacimiento"
                ></md-outlined-text-field>
                <p>Sexo</p>
                <md-outlined-select class="input" id="sex" name="sex"
                    disabled .value="${'{{ request.session.sexo }}'}">
                    <md-select-option value="Masculino">
                        <div slot="headline"></div>
                    </md-select-option>
                    <md-select-option value="Femenino">
                        <div slot="headline">Femenino</div>
                    </md-select-option>
                    <md-select-option value="Masculino">
                        <div slot="headline">Masculino</div>
                    </md-select-option>
                    <md-select-option value="Otro">
                        <div slot="headline">Otro</div>
                    </md-select-option>
                    <md-select-option value="Prefiero no decirlo">
                        <div slot="headline">Prefiero no decirlo</div>
                    </md-select-option>
                </md-outlined-select>
            </div>
        </div>

        <div class="card">
            <div class="cardContainer">
                <div class="visibility">
                    <p>Contraseña</p>
                    <button type="button" id="togglePass" disabled>
                        <img src="{% static 'images/visibility.png' %}" alt="Visibilidad">
                    </button>
                </div>
                <md-outlined-text-field
                    type="password"
                    class="input"
                    id="password"
                    name="password"
                    value="********"
                    readOnly=true
                    error-text="Por favor, ingrese su contraseña"
                ></md-outlined-text-field>
                <p>Contraseña de confirmación</p>
                <md-outlined-text-field
                    type="password"
                    class="input"
                    id="conf_pass"
                    name="conf_pass"
                    value="********"
                    readOnly=true
                    error-text="Por favor, ingrese su contraseña"
                ></md-outlined-text-field>
            </div>
        </div>

        <div class="card">
            <div class="cardContainer">
                <p>Correo electrónico</p>
                <md-outlined-text-field
                    type="email"
                    class="input"
                    id="email"
                    name="email"
                    placeholder="Ingresa tu correo electrónico"
                    value="{{request.session.email}}"
                    pattern="[\w\d-]+"
                    suffix-text="@gmail.com"
                    readOnly=true
                    error-text="Por favor, ingrese su correo electrónico"
                ></md-outlined-text-field>
                <p>Número de teléfono</p>
                <md-outlined-text-field
                    type="tel"
                    class="input"
                    id="tel"
                    name="tel"
                    placeholder="Ingresa tu número de teléfono"
                    value="{{request.session.tel}}"
                    readOnly=true
                    error-text="Por favor, ingrese su número de teléfono"
                ></md-outlined-text-field>
            </div>
        </div>

        <div class="actCont">
            <md-filled-tonal-button
                type="button"
                class="input"
                id="editbtn"
                name="button"
            >Editar Perfil</md-filled-tonal-button>
            
            <md-filled-tonal-button
                type="button"
                class="input"
                id="savebtn"
                name="button"
            >Guardar cambios</md-filled-tonal-button>

            <md-filled-tonal-button
                type="button"
                class="input"
                id="deletebtn"
                name="button"
            >Eliminar Cuenta</md-filled-tonal-button>
        </div>
    </form>
{% endblock %}
