{% extends 'header.html' %}

{% block title %}
    Registro
{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/form.css' %}">
{% endblock %}

{% block content %}
<div class="divForm">
    <h1 class="greetingForm">Crea una cuenta!</h1>
    <h3 class="greetingComplement">Registrate para comenzar</h3>
    <form class="form" method="post">
        {% csrf_token %}

        <md-outlined-text-field
            type="text"
            class="input"
            id="fname"
            name="fname"
            label="Nombre"
            placeholder="Ingresa tu nombre"
            required
            error-text="Por favor, ingrese su nombre">
        </md-outlined-text-field>

        <md-outlined-text-field
            type="text"
            class="input"
            id="lname"
            name="lname"
            label="Apellido"
            placeholder="Ingresa tu apellido"
            required
            error-text="Por favor, ingrese su apellido">
        </md-outlined-text-field>

        <md-outlined-text-field
            type="date"
            class="input"
            id="birthday"
            name="birthday"
            label="Fecha de nacimiento"
            placeholder="Ingresa tu fecha de nacimiento"
            max="2007-03-15"
            required
            error-text="Por favor, ingrese su fecha de nacimiento">
        </md-outlined-text-field>

        <md-outlined-select class="input" id="sex" name="sex" label="Sexo">
            <md-select-option aria-label="blank"></md-select-option>
            <md-select-option value="Femenino">
              <div slot="headline">Femenino</div>
            </md-select-option>
            <md-select-option value="Masculino">
              <div slot="headline">Masculino</div>
            </md-select-option>
            <md-select-option value="Otro">
                <div slot="headline">Otro</div>
            </md-select-option>
            <md-select-option value="Prefiero no decirlo">
                <div slot="headline">Prefiero no decirlo</div>
            </md-select-option>
        </md-outlined-select>

        <md-outlined-text-field
            type="tel"
            class="input"
            id="tel"
            name="tel"
            label="Número de celular"
            placeholder="Ingresa tu número de teléfono"
            minlength="10"
            maxlength="10"
            pattern="[0-9]{10}"
            required
            error-text="Por favor, ingrese su número de teléfono">
        </md-outlined-text-field>

        <md-outlined-text-field
            type="email"
            class="input"
            id="email"
            name="email"
            label="Correo electrónico"
            placeholder="Ingresa tu correo electrónico"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
            required
            error-text="Por favor, ingrese su correo electrónico">
        </md-outlined-text-field>

        <md-outlined-text-field
            type="password"
            class="input"
            id="pass"
            name="pass"
            label="Contraseña"
            placeholder="Ingresa tu contraseña"
            required
            error-text="Por favor, ingrese su contraseña">
        </md-outlined-text-field>

        <md-outlined-text-field
            type="password"
            class="input"
            id="confpass"
            name="confpass"
            label="Confirmar contraseña"
            placeholder="Ingresa de nuevo su contraseña"
            required
            error-text="Por favor, ingrese de nuevo su contraseña">
        </md-outlined-text-field>

        <md-filled-tonal-button
            type="submit"
            class="input"
            id="submitbtn"
            name="submit">                
            Registrarse
        </md-filled-tonal-button>
    </form>
    {% if error %}
        <p class="wrongCredentials">{{error}}</p>
    {% endif %}
    <a href="/login">¿Ya tienes una cuenta? Inicia sesión</a>
</div>
{% endblock %}
