{% extends 'header.html' %}

{% block title %}
    Configuración
{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/settings.css' %}">
{% endblock %}

{% block content %}
<div class="settCont">
    <div class="settTitle">
        <div class="cardContainer">
            <img src="{% static 'images/settings.png' %}" alt="Icono de Ajustes">
            <h3>Contactos de Emergencia</h3>
        </div>
    </div>
    <div class="settBody">
        <div class="leftCont">
            <div class="imgCont">
                <div class="cardContainer">
                    <img src="{% static 'images/contacts.png' %}" alt="Icono de Contactos">
                </div>
            </div>
            <md-filled-tonal-button
                type="button"
                class="input"
                id="editbtn"
                name="button">
                Editar Contactos de Emergencia
            </md-filled-tonal-button>
        </div>
        <div class="rightCont">
            <md-list class="contacts">
                <md-divider></md-divider>
                <md-list-item>
                    <div slot="headline">{fname + lname}</div>
                    <div slot="supporting-text">{phone}</div>
                    <div slot="supporting-text">{relation}</div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                    <div slot="headline">{fname + lname}</div>
                    <div slot="supporting-text">{phone}</div>
                    <div slot="supporting-text">{relation}</div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                    <div slot="headline">{fname + lname}</div>
                    <div slot="supporting-text">{phone}</div>
                    <div slot="supporting-text">{relation}</div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                    <div slot="headline">{fname + lname}</div>
                    <div slot="supporting-text">{phone}</div>
                    <div slot="supporting-text">{relation}</div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item>
                    <div slot="headline">{fname + lname}</div>
                    <div slot="supporting-text">{phone}</div>
                    <div slot="supporting-text">{relation}</div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </div>
    </div>
</div>
{% endblock %}
